<!-- Test out if the material works properly-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My lovely ToDo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div
    fxFlexFill
    fxLayout="row wrap"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayoutGap="15px grid">
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="addTodo()" #formDirective="ngForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add Todo</mat-card-title>
          <mat-card-title>Edit Todo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput formControlName="task">
          </mat-form-field>
          <div>
            <label>Priority &nbsp;</label>
              <mat-radio-group arial-label="Select an option" formControlName="priority">
                <mat-radio-button *ngFor="let p of priorities" value="{{p}}">{{p}} &nbsp;</mat-radio-button>
              </mat-radio-group>
          </div>
          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="tomorrow">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-datepicker #picker></mat-datepicker>
              </mat-datepicker-toggle>
            </mat-form-field>
            <!-- Buttons Section-->
            <div>
              <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add</button>
              <button mat-raised-button color="primary" type="button">Update</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>My ToDo List</mat-card-header><br>
        <mat-card-content>
          <span *ngFor="let t of todosValues">Task: &nbsp;{{t.task}} &nbsp;&nbsp; Due Date: &nbsp;{{t.dueDate | date:"dd / MM / YY"}} &nbsp;&nbsp; Priority: &nbsp;{{t.priority}}<br></span>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
